html, body{background: #9de; margin: 0px;}
h3{color:#000}
.gpopup{width:200px}
.gpopup table{border-collapse:collapse;border:0;font-family:Arial, Verdana, Helvetica, sans-serif, "MS sans serif";font-size:10px;text-align:left;color:#000;background:#FFF;padding:0}
.tooltip{border:1px solid #eee;background-color:#FFFBF0;padding:5px}
#menuSpacer{height:35px;width:100%}
.aisType{font-size:13px}
#keyTable *{text-align:center}
#keyTable td{padding:3px}
h3 span{font-weight:bold}
#copyright{text-align:right;font-weight:700;font-style:italic;font-size:12px}
#disclaimer{font-size:small;color:#000;text-align:center;margin:auto;border:1px dashed black;width:500px;}
#disclaimer span{text-decoration:underline;font-size:16px}
td img{height:20px;width:12px}
#scripttitle{font-weight:700;font-size:18px}
#dv{font-weight:700;font-style:italic;font-size:18px}
hr{width:75%}
h1{display:none}
a, td{color:#111}
.mapPane{background:rgb(255,255,255);margin:10px;margin-top:0px;width:170px;border-radius:2px;padding:8px;box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);}
#shipmove h3{margin-top:0px;}
